<!DOCTYPE html>
<html>
	<head>
		<meta charset="Shift_JIS" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/marry.css') }}"/>
		<link rel="{{ url_for('static', filename='css/neon.css') }}"/>
		<link type="{{ url_for('static', filename='css/neonButton.scss') }}"/>
		<title>yozora</title>
	</head>
	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
		<script src="{{ url_for('static', filename='js/yozoraScript.js') }}"></script>
	</body>
</html>

